<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD TO-DO</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div>
        <form action="new_password" method="post">
            <label for="password">Password : </label>
            <input type="password" name="password" placeholder="********">
            <br>
            
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <button type="submit">UPDATE PASSWORD</button>
        </form>
    </div>
</body>
</html>